pkgbase = labwc-im-git
	pkgdesc = stacking wayland compositor with look and feel from openbox (git version with minimal text-input-v1 support)
	pkgver = 0.8.1.r108.g83c583c6
	pkgrel = 1
	url = https://github.com/labwc/labwc
	arch = x86_64
	license = GPL2
	makedepends = git
	makedepends = meson
	makedepends = scdoc
	makedepends = wayland-protocols
	depends = libpng
	depends = librsvg
	depends = pango
	depends = libsfdo
	depends = seatd
	depends = libwlroots-0.18.so
	depends = wayland
	depends = xorg-xwayland
	optdepends = bemenu: default launcher via Alt+F3
	provides = labwc
	conflicts = labwc
	source = git+https://github.com/labwc/labwc.git
	source = 0001-IME-support-text-input-v1.patch
	source = fix-pixman-error.patch
	md5sums = SKIP
	md5sums = 634e8a3d65ff9667be0f37402f7b26bc
	md5sums = 9aac6e8c564502b59a2a587332d78be3

pkgname = labwc-im-git
